@tailwind utilities;
@tailwind base;
@tailwind components;
@config "../tailwind.config.js";
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scroll-smooth {
    scroll-behavior: smooth;
  }
}

/* Custom scrollbar styles */
.scrollStyle::-webkit-scrollbar {
  width: 8px; /* Adjust scrollbar width */
}

.scrollStyle::-webkit-scrollbar-track {
  background: #d1d5db ; /* Light background */
  border-radius: 4px;
}

.scrollStyle::-webkit-scrollbar-thumb {
  background: #008080; /* Darker thumb */
  border-radius: 4px;
}

.scrollStyle::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker on hover */
}
